<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Country</th>
      <th scope="col">Region</th>
      <th scope="col">TimeZone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{data.EnglishName}}</td>
      <td>{{data.Country.EnglishName}}</td>
      <td>{{data.Region.EnglishName}}</td> 
      <td>{{data.TimeZone.Code}}</td> 
    </tr>
  </tbody>
</table>